@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul, ol {
    padding-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-top: -0.75em;
    font-size: 1.5vw;
}

/* Task List */

.todo-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    width: 100%;
    justify-content: center;
}

.todo-item a {
    color: rgb(112,112,112);
}

.todo-item.active a {
    color: black;
}

.todo-item.active:hover a {
    color: #4a00ff;
}

.todo-item div {
    border-radius: 100%;
    border: 2px solid rgb(220,220,220);
    height: 30px;
    width: 30px;
    margin-top: 3px;
}

.todo-item svg path {
    fill: red;
}

.todo-item p {
    grid-column: 2 / 3;
    color: rgb(112,112,112);
}